
<!DOCTYPE html>
<html>
<head>
  <title>Add Book</title>
</head>
<body>
  <h1>Add a Book</h1>
  <form action="/add" method="POST">
    <label>Title:</label><br>
    <input name="title" required><br>
    
    <label>Author:</label><br>
    <input name="author"><br>
    
    <label>Date Read:</label><br>
    <input type="date" name="date_read"><br>
    
    <label>Rating (1–10):</label><br>
    <input type="number" name="rating" min="1" max="10"><br>
    
    <label>Notes:</label><br>
    <textarea name="notes"></textarea><br>
    
    <label>Open Library OLID:</label><br>
    <input name="open_library_id"><br><br>
    
    <button type="submit">Add</button>
  </form>
  <a href="/">Back</a>
</body>
</html>

